vault_rhsm_user: ""
vault_rhsm_pass: ""
vault_crestron_user: "virtualcontrol"
vault_crestron_pass: ""
vault_mariadb_root_pass: ""
vault_mariadb_name: "virtualcontrol"
vault_mariadb_user: "virtualcontrol"
