vault_rhsm_user: "imsts"
vault_rhsm_pass: "randompass"
vault_crestron_user: "virtualcontrol"
vault_crestron_pass: "randompass"
vault_mariadb_root_pass: "randompass"
vault_mariadb_name: "virtualcontrol"
vault_mariadb_user: "virtualcontrol"
